@(rateForm: Option[Form[(Int,Int,Int,Int,Int,Int)]] = None)

@import helper._

@main("Contract rate") {

<h3>Calculate contract rate based on desired income</h3>
<p>
    To work out a rough contracting rate
    based on your existing permanent salary
    and a few other factors.
</p>
<br/>

@for(form <- rateForm){
    @for(error <- form.errors){
        <div>
            <p class="error">
                There was a problem with your input, please correct:<br/>
                @error.message
            </p>
        </div>
        <br/>
}   }

@**
#{if hourlyRate}
<table>
    <tr>
        <th>Hourly rate</th>
        <td colspan="2" class="righter">${hourlyRate}</td>
        <td colspan="1"><i>((Salary * cost * tax) / yearlyHours) / utilisation</i></td>
    </tr>
    <tr>
        <th>Year invoice</th>
        <td colspan="2" class="righter">${yearIncome}</td>
        <td colspan="1"><i>(Salary * cost * tax) / utilisation</i></td>
    </tr>
    <tr>
        <th rowspan="3">Daily rates</th>
        <td class="righter">7 hours</td>
        <td>${dailyRates.get("7")}</td>
        <td colspan="1" rowspan="3" title="Very naive, normally you charge the same per day and increase per hour if shorter days instead"><i>hourlyRate * dailyHours (na&iuml;ve)</i></td>
    </tr>
    <tr>
        <td class="righter">7.5 hours</td>
        <td>${dailyRates.get("7.5")}</td>
    </tr>
    <tr>
        <td class="righter">8 hours</td>
        <td>${dailyRates.get("8")}</td>
    </tr>
</table>
<br/>
<br/>
#{/if}
**@

@form(action=routes.RateController.calculateRateFromIncome){

<fieldset>
    <legend>Salary</legend>
    <input type="text" name="salary"
        value="@rateForm.flatMap(_("salary").value).getOrElse(50000)"
        maxlength="12" size="8"/>
    <label>(currency irrelevant)</label>
    <p>How much would your earn as an employee per year before tax.</p>
</fieldset>
<fieldset>
    <legend>Hours per year</legend>

    <input type="text" id="hoursYear" name="hoursYear"
        value="@rateForm.flatMap(_("hoursYear").value).getOrElse(1600)"
        maxlength="5" size="4" />
    <label for="hoursYear">hours</label>

    <br/>

    <p>
        <a href="@routes.TimeController.hoursPerYear">Calculate how many hours will you be available to work/invoice per year</a>.
        <br/>
    </p>
    <p>
        For a normal fully booked year this is between 1400 to 2000 hours, or 200 to 260 days.
    </p>
    <p>
        You need some holidays and you may be sick.
        You may want to take time off for training and conferences.
        You will need time for administration and sales/interviews.
    </p>
</fieldset>
<!-- <fieldset>
    <legend>Hours per day</legend>
    <input type="text" name="contractingRate.hoursDay" value="${flash['contractingRate.hoursDay']?:7.5}" maxlength="3" size="4" />
    <label>hours</label>
    <p>
        Not including lunch
        <i>(not used in calculation, only to assist in showing a daily rate)</i>.
    </p>
</fieldset> -->
<fieldset>
    <legend>Additional cost</legend>
    <input type="text" name="cost"
        value="@rateForm.flatMap(_("cost").value).getOrElse(30)"
        maxlength="3" size="4" />
    <label>%</label>
    <p>
        0 indicates no additional cost. Default: 30% means 30% additional costs.
    </p>
    <p>
        If you are looking for how much you can earn in relation to your current salary,
        then enter your estimated additional cost to the employer.
    </p>
    <p>
        The employee's salary is not the employers only cost per employee.
        The company also have to pay for your benefits,
        insurance, company tax, office space, utilities,
        admin staff, training, hardware, licenses, liabilities, etc.
        This can be as low as additional 30% cost per employee,
        however in some countries and companies this can be 2x or 3x the salary.
    </p>
    <p>
        However if you are looking for what you need to charge for equivalent salary,
        then you need to enter your estimated additional costs as a self employed contractor instead: pension, insurance, accountants, agents, invoice factoring, PCs, mobiles, tools, licenses, hosting, training, conferences, commuting cost,
        non-invoiceable time for admin, support, sales &amp; interviews, etc.
    </p>
    <p>
        If you want to cut things to the bone, pick a percentage closer to 0.
    </p>
</fieldset>
<fieldset>
    <legend>Utilisation</legend>
    <input type="text" name="utilisation"
        value="@rateForm.flatMap(_("utilisation").value).getOrElse(90)"
        maxlength="3" size="4" />
    <label>%</label>
    <p>
        100% indicates full utilisation. Default: 90% utilisation, ie. you loose 10% of your income.
    </p>
    <p>
        How long a gap will you have between contracts.
        It is difficult to finish one contract on a Friday
        and always having another starting the following Monday.
        Some bench time must be expected, 2 weeks here, a few days there or worse.
    </p>
    <p>
        You might also have a contract suddenly terminated due to client finances or other factors.
    </p>
</fieldset>
<fieldset>
    <legend>Tax difference</legend>
    <input type="text" name="tax"
        value="@rateForm.flatMap(_("tax").value).getOrElse(0)"
        maxlength="3" size="4" />
    <label>%</label>
    <p>
        10 means 10% more tax, -20 means 20% less tax, ie earn 20% more. Default: 0 means no difference.
    </p>
    <p>
        As a contractor with your own limited company
        you might pay less tax personally
        compared to a permanent employee.
        However in the UK <a href="http://en.wikipedia.org/wiki/IR35">IR35</a> means some <i>umbrella</i> contractors
        pay more than permanent employees.
    </p>
</fieldset>
<fieldset>
    <legend>Risk factor</legend>
    <input type="text" name="risk"
        value="@rateForm.flatMap(_("risk").value).getOrElse(0)"
        maxlength="3" size="4" />
    <label>%</label>
    <p>
        20 means 20% higher rate to accept contracting risk.
        Default: 0% means no risk considered.
        <!-- <br/>
        Risk is not a quotable part of an invoice, its an assumed cost. -->
    </p>
    <p>
        As a contractor you take considerable more risk with your income
        compared to a permanent employee.
    </p>
    <p>
        Risk of reduced utilisation due to unforeseen cancellation or early contract termination, unpaid invoices, expensive legal liabilities not covered by insurance and more.
    </p>
    <!--
    <p>
        Legal protection for terminating a business contract compared to employment contract are two different worlds, especially in some countries.
    </p>
    <p>
        When terminated you might risk not being paid for the remaining contract notice period.
        Or worse the client might not pay or delay payment of the outstanding
        amount since last invoice.
    </p>
    <p>
        An unforeseen contract cancellation or termination might affect your utilisation,
        as you will not have lined up a new contract immediately.
    </p>
    <p>
        A contractor also takes on risk of legal implication with liabilities in the work performed.
        This risk can be reduced with insurance but not removed.
    </p>
    -->
</fieldset>

<br/>
<br/>

    <button type="submit">Calculate contract rate</button>

}

<br/>

<script type="text/javascript">
    $(function() {
        $("#daysYearChoice").click( function(event){
            if( $("#hoursOrDaysPerYear").val() > 366){
                $("#hoursOrDaysPerYear").val(220);
            }
        });
        $("#hoursYearChoice").click( function(event){
            if( $("#hoursOrDaysPerYear").val() < 367){
                $("#hoursOrDaysPerYear").val(1600);
            }
        });
    });
</script>


}
