@(rateForm: Form[RateDifferenceCalculator], rateDifferenceCalculator: Option[RateDifferenceCalculator])

@import helper._

@main("Rate difference") {


<h2>Calculate rate difference</h2>


<p>
    How much does actually an extra 25 per day mean,
    how does that change my annual revenue/income?
    Will a three weeks delay negate the difference?
</p>

<p>
       Assuming 100% utilisation upon contract start for 12 months (rate 1).
</p>


<br/>

@for(calculation <- rateDifferenceCalculator){
    <table>
        <tr>
            <th colspan="5">Estimated annual revenue</th>
        </tr>
        <tr>
            <th>Time period</th>
            <th>Rate 1</th>
            <th>Rate 2</th>
            <th>Difference</th>
            <th>Notes</th>
        </tr>
        <tr>
            <th>Per year</th>
            <td>@{calculation.lower.formatted}</td>
            <td>@{calculation.higher.formatted}</td>
            <td>@{calculation.difference.formatted}</td>
            <td></td>
        </tr>
        <tr>
            <th>Per month</th>
            <td>@{calculation.lower.monthly.formatted}</td>
            <td>@{calculation.higher.monthly.formatted}</td>
            <td>@{calculation.monthlyDifference.formatted}</td>
            <td><i>Bench time ignored</i></td>
        </tr>
    </table>
}

<br/>
@for(error <- rateForm.errors){
        <br/>
        <div>
            <p class="error">
                There was a problem with your input, please correct:<br/>
                @error.message: @error.key
            </p>
        </div>
        <br/>
        <br/>
}

@form(action=routes.RateController.calculateRateDifference){

    <fieldset>
        <legend>Hours per year</legend>
        <input type="number" name="hoursPerYear" required
            value="@rateForm("hoursPerYear").value.getOrElse(1600)"
            maxlength="5" size="4" />
        <label>hours</label>
        <p>
            <a href="@routes.TimeController.hoursPerYear">How many hours will you be available to invoice per year</a>?
        </p>
    </fieldset>

    <fieldset>
        <legend>Hour per day</legend>
        <input type="text" name="hoursPerDay" required
            value="@rateForm("hoursPerDay").value.getOrElse(7.5)"
            maxlength="5" size="4" />
        <label>hours</label>
        <p>
            How many hours would you work and invoice for per day.
            Not including lunch.
        </p>
    </fieldset>

    <fieldset>
        <legend>Rate 1</legend>
        <input type="number" name="rateOne" required
            value="@rateForm("rateOne").value.getOrElse(400)"
            maxlength="12" size="6" />
        <label></label>
        <p>

        </p>
    </fieldset>
    <fieldset>
        <legend>Rate 2</legend>
        <input type="number" name="rateTwo" required
            value="@rateForm("rateTwo").value.getOrElse(500)"
            maxlength="12" size="6" />
        <label></label>
        <p>

        </p>
    </fieldset>

    <fieldset>
        <legend>Rate time unit</legend>
        <input type="radio" id="perday" name="rate-length.rate-length" value="day" required
           @if(rateForm("rate-length.rate-length").value!=Some("hour")){checked} />
       <label for="perday">Per day</label>

        <input type="radio" id="perhour" name="rate-length.rate-length" value="hour" required
        @if(rateForm("rate-length.rate-length").value==Some("hour")){checked} />
        <label for="perhour">Per hour</label>

        <p>

        </p>
    </fieldset>

    <fieldset>
        <legend>Bench time</legend>
        <input type="number" name="benchTime" 
            value="@rateForm("benchTime").value.getOrElse(0)"
            maxlength="4" size="4" />
        <label> days</label>
        <p>
            How many invoiceable days before contract for rate 2 starts?
        </p>
    </fieldset>

<br/><br/>

    <button>Calculate rate difference</button>

}

<br/><br/>



<p>
    <a href="{Application.contact}">Any questions</a>?
</p>

}
