#{extends 'main.html' /}
#{set title:'About / Contact' /}


<h3>About</h3>

<p>
    A quick calculator tool created by <a href="http://www.eray.co.uk">Ivar Abrahamsen</a>.
    It is not scientific but more finger in the air indications that Ivar uses himself.
    <a href="http://github.com/flurdy/ContractCalc">Source code is available</a>.
</p>

<br/>
<br/>

<h3>Contact</h3>

<ul>
    <li>
        Creator:
        <a href="http://flurdy.com/">Ivar Abrahamsen</a> |
        <a href="http://flurdy.com/contact/">contact</a> |
        <a href="http://www.eray.co.uk/services/consultancy.html">hire</a>
    </li>
</ul>

<br/>
<br/>
<h3>Resources</h3>

<p>
    For more information see the <a href="@{Application.resources}">external resources links</a>.
</p>