#{extends 'main.html' /}
#{set title:'Calculate contract rate and invoicable hours per year' /}

<h1>Calculate contract rate and invoicable hours per year</h1>


<h3><a href="@{Application.enterRate}">Calculate contract rate</a></h3>
<p>
    To work out a rough contracting rate
    based on your existing permanent salary
    and a few other factors.
</p>

<h3><a href="@{Application.hoursPerYear}">Calculate invoicable hours per year</a></h3>

<p>
    To work out a roughly how many hours and days
    will you actually be working as a contractor,
    ie invoicable hours per year.
</p>

<p>
        Any questions? <a href="http://flurdy.com/contact/">Contact me</a>.
    Or <a href="http://www.eray.co.uk">hire me</a>.
</p>
<p>
    For more information visit
    <a href="http://www.contractorcalculator.co.uk/">ContractorCalculator</a> and
    <a href="http://www.contractoruk.com/">ContractorUK</a>
</p>        