#{extends 'main.html' /}
#{set title:'Calculate contract rate and hours' /}

<!-- <h1>Calculate contract rate and<br/>&nbsp;&nbsp;&nbsp;invoicable hours per year</h1> -->

<br/><br/>

<h3><a href="@{Application.enterRate}">Calculate contract rate</a></h3>
<p>
    To work out a rough contracting rate
    based on your existing permanent salary
    and a few other factors.
</p>
<br/><br/>

<h3><a href="@{Application.hoursPerYear}">Calculate invoicable hours per year</a></h3>

<p>
    To work out a roughly how many hours and days
    you will most likely be working as a contractor,
    ie invoicable hours per year.
</p>
<br/><br/>

<h3><a href="@{Application.rateDifference}">Calculate rate differences</a></h3>

<p>
    How much does actually an extra 25 per day mean?
    How does that change my annual revenue/income?
    Will a three weeks delay negate the difference?
</p>

<p>
    <br/><br/>
    <br/><br/>
</p>

<p>
        <a href="@{Application.contact}">Any questions</a>?
</p>