#{extends 'main.html' /}
#{set title:'Resources' /}


<h3>Resources</h3>

        <p>
            External resources to find more information about
            contracting, contractor calculations, etc.
        </p>
        <p>
            These may not be the affirmative best information resources,
            but probably.
        </p>
        <p>
            Note, these are also UK centric,
            whilst this tool is country agnostic.
        </p>

<p>

    <ul>
        <li><a href="http://www.contractorcalculator.co.uk/">ContractorCalculator</a> </li>
        <li><a href="http://www.contractoruk.com/">ContractorUK</a></li>
        <li><a href="http://forums.contractoruk.com/">ContractorUK Forums</a></li>
        <li><a href="http://www.contracteye.co.uk/">Contract Eye</a></li>
        <li><a href="http://www.pcg.org.uk/">PCG</a></li>
    </ul>

</p>