#{extends 'main.html' /}
#{set title:'Resources' /}


<h3>Resources</h3>
        
        <p>
            External resources to find more information about
            contracting, contractor calculations, etc.
            These are not the affirmative best information resources,
            however the creator of this website uses them.
        </p>

<p>

    <ul>
        <li><a href="http://www.contractorcalculator.co.uk/">ContractorCalculator</a> </li>
        <li><a href="http://www.contractoruk.com/">ContractorUK</a></li>
        <li><a href="http://forums.contractoruk.com/">ContractorUK Forum</a></li>
        <li><a href="http://www.pcg.org.uk/">PCG</a></li>
    </ul>

</p>        