@()

@main("Calculate contract rate and hours") {

<!-- <h1>Calculate contract rate and<br/>&nbsp;&nbsp;&nbsp;invoicable hours per year</h1> -->

<br/><br/>

<h3><a href="@routes.TimeController.hoursPerYear">Calculate invoicable hours per year</a></h3>

<p>
    To work out a roughly how many hours and days
    you will most likely be working as a contractor,
    ie invoicable hours per year.
</p>
<br/><br/>

<h3><a href="@routes.RateController.enterRate">Calculate contract rate based on desired income</a></h3>
<p>
    To work out a rough contracting rate
    based on your existing permanent salary
    and a few other factors.
</p>
<br/><br/>

<h3><a href="@routes.RateController.enterIncomeRate">Calculate income based on desired rate</a></h3>

<p>
    To give an idea how much you could earn on a specific rate per year.<br/>
    With a quick rough comparison to a permanent salary.
</p>

<br/><br/>

<h3><a href="@routes.RateController.rateDifference">Calculate rate differences</a></h3>

<p>
    How much does actually an extra 25 per day mean?
    How does that change my annual revenue/income?
    Will a three weeks delay negate the difference?
</p>

<p>
    <br/><br/>
    <br/><br/>
</p>

<p>
        <a href="@routes.Application.contact">Any questions</a>?
</p>
}
